@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

// Color palatte
$darkpurple: #291023;
$lavender: #745E76;
$floralwhite: #FFF8F0;
$teal: #55868C;
$ruby: #F4442E;


$darkborder: #0a0409;

body {
  margin: 0;
  background-color: $floralwhite !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// Customizing accordion appearance
$accordion-border-color: $darkborder;
$accordion-border-radius: 0;
$accordion-inner-border-radius: 0;
$accordion-button-focus-box-shadow: none;
$accordion-button-bg:  $darkpurple;
$accordion-button-active-bg: $darkpurple;
$accordion-button-active-color:$darkpurple;

$accordion-button-active-color: white;
$accordion-color:white;
$accordion-bg:$darkpurple;


.accordion-flush .accordion-collapse{
    background-color: $lavender;
}

.accordion-item:last-child{
    border-bottom: 1px solid $darkborder !important;
}

.accordion-item:first-child{
    border-top: 1px solid $darkborder !important;
}

.sidenav {
  height: 100%;
  z-index: 1;
  position: fixed;
  // width: 350px;
  top: 0;
  left: 0;
  background-color: $darkpurple;
  overflow-x: hidden;
  padding-top: 0px;
  border-top:10px;
}


.row {
    margin-top: 5px !important;
}

.form-range {
    height: 2.5rem !important;
}

.col-form-label {
text-align: left !important;
color: white;
}

@import "../../../node_modules/bootstrap/scss/bootstrap";